certifi==2022.6.15
charset-normalizer==2.0.12
contextvars==2.4
dataclasses==0.8
h11==0.13.0
httpcore==0.12.3
httpx==0.17.1
idna==3.3
immutables==0.18
pkg-resources==0.0.0
python-dotenv==0.20.0
requests==2.27.1
rfc3986==1.5.0
sniffio==1.2.0
tekore==3.7.1
toml==0.10.2
typing-extensions==4.1.1
urllib3==1.26.11
